body {
  background-color: #888;
}

.calculator-border {
  width: 60vw;
  height: 60vh;
  padding: 10px;
  border: 10px solid black;
  margin: 0 auto;
  background-color: white;
}

.calulator-body {
	width: 100%;
	height: 100%;
	grid: 
}